<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic %></td>
      <!--      会输出票数，并且根据（英文的）单复数在后面加上 'vote' 或 'votes' 单字。-->
      <td><%= pluralize(topic.votes.count, 'vote') %></td>
      <!--      加一个 HTML 的按钮（button），里面有字 '+1'。-->
      <!--      产生我们要呼叫的 action 的对应 URL。以此例而言，我们要对目前的 topic 投票加分。它会回传/topics/42/upvote（如 topic.id 是 42）-->
      <!--      确保我们使用了 CRUD 里面的 create 操作，而非 read。-->
      <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
      <td><%= link_to 'Delete', topic, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
